{% extends "base.html" %}
{% block content %}

<div class="list">
  <h3 class="title">Create your to-do list below</h3>

</div>
<div class="items">
    <div class="type">
    <form action="{{ url_for('lists') }}"  method="post" id="calltoaction-form">
        <div class="form-section"><input  type="text" name="Task" placeholder="Type here e.g.Buy milk" required="required" size="30" autofocus/></div>
        <div class="form-section"><input type="text" name="Due Date" placeholder="Due date e.g.Feb 2 2023" required="required"/></div>
        <div class="form-section"><button type="submit" class="btn btn-primary btn-block btn-sm">ADD</button></div>

    </form>
</div>

{% endblock %}
